@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0}
body{width:158px;height:100%;overflow:hidden}

div#left_top_s{width:158px;height:11px;background:url(../images/left_top_bottom_s_11_11.gif) 0 0 no-repeat;overflow:hidden}
div#max_height{width:158px;height:100%;position:relative}
	div#left_l_s{position:absolute;width:5px;height:100%;background:url(../images/left_lr_r_s_5_3.gif) 0 0 repeat-y;overflow:hidden;left:0}
		div#left_l_s_t{width:5px;height:272px;background:url(../images/left_lrt_s_5_3.gif) 0 0 no-repeat;overflow:hidden}
	div#left_r_s{position:absolute;width:3px;height:100%;background:url(../images/left_lr_r_s_5_3.gif) -5px 0 repeat-y;overflow:hidden;right:0;z-index:100}
		div#left_r_s_t{width:3px;height:272px;background:url(../images/left_lrt_s_5_3.gif) -5px 0 no-repeat;overflow:hidden}
	div#left_t{width:150px;margin-left:5px;position:relative}
		a#left_navt{display:block;height:18px;width:100%;background:url(../images/left_navt_bt_18_18.gif) 0 0 repeat-x;border-bottom:1px solid #193049;text-align:center;text-decoration:none;color:#fff600;font-size:12px}
		a#left_navb{display:block;height:18px;width:100%;background:url(../images/left_navt_bt_18_18.gif) 0 -20px repeat-x;position:absolute;bottom:0;border-top:1px solid #bad2e6;text-align:center;text-decoration:none;color:#d3f4ff;font-size:12px;padding-top:18px}
		div#left_nav_main{background:#2862a3;font-size:12px;padding:5px;padding-top:10px;padding-bottom:30px}
			.nav_block_t{position:absolute;margin-left:9px;background:#2862a3;color:#91caf8;padding:0 2px 0 2px;margin-top:-4px}
			.nav_block{border:1px solid #82aed2;width:130px;padding:14px 0 8px 8px;margin-bottom:12px}
			.nav_block a{color:#ffffe7;text-decoration:none;display:block;line-height:18px;padding-left:12px;background:url(../images/left_li.gif) 3px 5px no-repeat}
			.nav_block a:active{color:#adf1a5}
			.nav_block a:hover{text-decoration:underline}
div#left_bottom_s{width:158px;height:18px;background:url(../images/left_top_bottom_s_11_11.gif) 0 -11px no-repeat;position:relative;z-index:100}