<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean name="experienceService"
		class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.taobao.lottery.base.hsf.ExperienceService" />
		<property name="version" value="1.1.1.dev.daily" />
			<property name="target" value="10.32.100.212:12200?_TIMEOUT=10000"/>
	</bean>
</beans>
