/*/.settings/
/*/*/.settings/
/*/.project
/*/*/.project
/*/.classpath
/*/*/.classpath
/*/target/
/*/*/target/
/*/.idea
/*/*/.idea
/*/*.iml
/*/*/*.iml
/*/out
/*/*/out
/android/*/gen
/android/*/local.properties
*~
*.log
