/* CSS Document */
/* written by guosining */

* {
	margin:0;
	padding:0;
}

body,html {
	background:url(../images/adminTop_BackGround.gif) repeat-x;
	width:100%;
	height:92px;
	overflow:hidden;
}

.cw{color:#fff}
.cg{color:#9f6}
.cr{color:#f33}

/* Head index */
#TopIndex {
	margin:0 auto;
	width:100%;
	height:30px;
}

#TopIndex_WelcomeCurrentUser {
	float:right;
	height:23px;
	width:100px;				/* "user login" width */
	line-height:25px;
	font-size:12px;
	color:#ffac28;
}

#TopIndex_Index {
	float:right;
	height:18px;
	width:300px;
	padding-top:6px;			/* The use of padding to a fixed menu position */
}

#TopIndex_Index ul {
	list-style:none;
	margin:0px;
}

#TopIndex_Index ul li {
	float:left;
	margin:0 3px;
	display:block;
	line-height:16px;
	font-size:12px;
}

#TopIndex_Index ul li a:link,#TopIndex_Index ul li a:visited {
	color:white;
	text-decoration:none;
}

#TopIndex_Index ul li a:hover {
	text-decoration:underline;
}

.TopIndex_IndexDiv {
	width:1px;
	height:15px;
	background:white;
}

/* Head main */
#TopMain {
	margin:0 auto;
	width:100%;
	height:62px;
}

#TopMain_Logo {
	float:left;
	width:192px;
	height:62px;
/*	background:url(../images/adminTop_Logo.gif) no-repeat;*/
}

#TopMain_Body {
	height:62px;
}

/* Head navigation bar */
#TopMain_BodyLeft {
	float:left;
	height:62px;
	width:610px;								/* 导航栏宽度调节处*/
	background:url(../images/adminTop_NavCenter.gif) repeat-x;		
}

#TopMain_NavLeft {
	float:left;
	width:24px;
	height:62px;
	background:url(../images/adminTop_NavLeft.gif) no-repeat;
}

#TopMain_NavRight {
	float:right;
	width:24px;
	height:62px;
	background:url(../images/adminTop_NavRight.gif) no-repeat;
}

#TopMain_NavCenter {
	height:62px;
	width:540px;								/* BodyLeft-NavLeft-NavRight-10px; */
	margin:0 auto;
	padding:20px 0 0 10px;
}

#TopMain_NavCenter ul {
	list-style:none;
	margin:0px;
}

#TopMain_NavCenter ul li {
	float:left;
	margin:0 10px;
	display:block;
	line-height:16px;
	font-size:14px;
}

#TopMain_NavCenter ul li a{
	color:#fff;
	text-decoration:none;
}

#TopMain_NavCenter ul li a.on {
	color:#ffe200;
	text-decoration:none;
}

#TopMain_NavCenter_One {
	width:49px;
	heigh:8px;
	padding-bottom:5px;
	padding-left:20px;
	background:url(../images/adminTop_Merchandise.gif) no-repeat bottom;
}

#TopMain_NavCenter_Two {
	width:43px;
	heigh:8px;
	padding-bottom:5px;
	padding-left:17px;
	background:url(../images/adminTop_Order.gif) no-repeat bottom;
}

#TopMain_NavCenter_Three {
	width:40px;
	heigh:6px;
	padding-bottom:5px;
	padding-left:14px;
	background:url(../images/adminTop_Members.gif) no-repeat bottom;
}

#TopMain_NavCenter_Four {
	width:60px;
	heigh:6px;
	padding-bottom:5px;
	padding-left:8px;
	background:url(../images/adminTop_Marketing.gif) no-repeat bottom;
}

#TopMain_NavCenter_Five {
	width:70px;
	heigh:6px;
	padding-bottom:5px;
	padding-left:10px;
	background:url(../images/adminTop_StatisticsReport.gif) no-repeat bottom;
}

#TopMain_NavCenter ul li a:hover {
}

.TopMain_NavCenterDiv {
	width:2px;
	height:23px;
	background:url(../images/adminTop_NavDivBackGround.gif);
}

/* Head residues */
#TopMain_BodyRight {
	height:62px;
	background:url(../images/adminTop_BodyRightBackGround.gif) repeat-x;
}

#TopMain_BodyRightBackGround {
	border:1px red solid;
	height:62px;
	background:url(../images/adminTop_BodyRightBackGroundLeft.gif) no-repeat;
}