@charset "utf-8";
/* CSS Document */

.grid_mask{position:absolute;width:100%;height:100%;top:0;left:0;background:#fff;opacity:0.1;filter:alpha(opacity=10)}
.grid_mask_wait{display:inline-block;position:absolute;background:#e5f5f1;height:36px;width:auto;top:50%;left:50%;border:1px solid #bbdbd5;color:#479d9c;line-height:36px;font-size:12px;padding:5px 15px}
.grid_mask_wait span{display:inline-block;background:url(../images/eshopGrid/blue-loading.gif);width:32px;height:32px;vertical-align:middle;margin-right:15px}

.grid_title{height:19px;padding-top:5px;width:100%;background:#d8e1e9;color:#486282;font-size:12px;border-bottom:1px solid #fff}
.grid_title .ghint{position:absolute;right:0px;font-size:14px;line-height:24px}

.grid_edit{height:18px;padding-top:4px;width:100%;background:url(../images/eshopGrid/grid_other.gif) repeat-x}
.grid_edit a{text-decoration:none;line-height:22px;color:#7d9096;font-size:12px}

.grid_table{color:#44596b;font-size:12px;overflow:scroll;height:299px;background:#fff}
.grid_table span{display:inline-block}

.grid_search{font-size:14px;background:#f4f7f9;height:30px;line-height:30px;width:100%;font-size:12px;color:#7d9096}
.grid_adSearch{font-size:14px;background:#f4f7f9;line-height:30px;width:100%;font-size:12px;color:#7d9096}
.grid_adSearch select{margin:0 10px 0 0}
.grid_search .search_close{display:inline-block;width:16px;height:16px;background:url(../images/eshopGrid/cross.gif) no-repeat;text-decoration:none;vertical-align:middle;margin:0 10px 0 5px;cursor:pointer}
.grid_search select{margin:0 5px 0 5px}
.grid_search input[type="text"]{border:1px solid #acacac;padding-left:4px;width:130px;height:22px;background:#fcfcfc;line-height:22px;font-size:12px;color:#333;margin:0 5px 0 5px}
.grid_search input[type="button"]{width:22px;height:22px;line-height:22px;vertical-align:middle;font-size:12px;margin:-2px 0 0 4px;cursor:pointer}

.grid_table .table_head{height:26px;white-space:no-warp;background:url(../images/eshopGrid/grid_other.gif) 0 -22px repeat-x}
.grid_table .table_head .head_cell_check{height:21px;padding-top:5px;overflow:hidden;background:url(../images/eshopGrid/grid_other.gif) 0 -22px repeat-x}
.grid_table .table_head .head_cell{font-weight:bold;height:20px;padding-top:6px;overflow:hidden;background:url(../images/eshopGrid/grid_other.gif) 0 -22px repeat-x}
.grid_table .table_head .rc{border:1px solid #999;background:#dcdcea;color:#333;line-height:25px;padding:5px 8px 2px 4px}
.grid_table .table_head .rc input{cursor:pointer}
.grid_table .table_head .rc label{cursor:pointer}

.grid_table .table_body{color:#44596b;line-height:26px}
.grid_table .table_body .table_row{border-bottom:1px solid #fff;background:#ecf1f5}
.grid_table .table_body .table_row .table_cell{height:100%;height:26px;overflow:hidden}
.grid_table .table_body .table_row .table_cell .cgray{color:#88a}
.grid_table .table_body .table_row .even{background:#ecf1f5}
.grid_table .table_body .table_row .odd{background:#f8fafb}
.grid_table .table_body .table_row .cell_hover{background:#e4e7f4!important}
.grid_table .table_body .table_row .table_cell img{ vertical-align:middle;line-height:1em;margin:0;}

.grid_page{bottom:0px;height:29px;line-height:32px;background:url(../images/eshopGrid/grid_other.gif) 0 -48px repeat-x;width:100%;color:#fff;font-size:12px}
.grid_page .page123{display:block;position:absolute;margin-left:40%}
.grid_page .page123 a{margin:4px;text-decoration:none;color:#6c85a1}
.grid_page .pageInfo{display:block;position:absolute;right:30px;color:#6c85a1}
.grid_page .pageInfo input{width:2em;height:12px;font-size:10px}

#selectGoods_button{position:absolute;bottom:0;z-index:1100;background:#c5d2de;height:25px;width:100%;text-align:center;font-size:14px;color:#6c85a1}
#selectGoods_button a{line-height:25px;font-size:14px;color:#6c85a1;text-decoration:none;border:1px solid #a6b9cb;padding:3px 10px;background:#ecf1f5}