@charset "utf-8";
/* CSS Document */
/*Ʒչʾ*/
.unfurl_top{ width:761px; height:36px; background:url(../images/bone_space_top2.gif) no-repeat; margin:0 auto}
.unfurl_board{width:615px;height:57px; background:url(../images/board_top.gif) no-repeat; margin:0 auto}
.unfurl_content{width:761px; background:url(../images/bone_space_bg.gif) repeat-y; margin:0 auto;text-align:center;padding:20px 0}
.unfurl_title{ font-family:"宋体"; font-size:14px; margin:15px 0;font-weight:bold}
.unfurl_pic{width:260px;height:260px; float:left; margin:10px 20px}/*shang ping tu*/
.unfurl_xx{width:230px;height:260px; float:right; margin:10px 30px auto 0;_margin:10px 10px auto 0}/*shang pin xin xi*/
.unfurl_table1{ text-align:left; margin:20px 0; line-height:24px; width:230px; border:none}
.unfurl_table a:hover{text-decoration:none}
.t1{width:80px; font-family:"宋体"; font-size:12px; color:#666666}
.t2{font-weight:bold;color:#F00}
.unfurl_div{width:600px;height:300px;margin:0 auto}/*nei bian kuang*/
.unfurl_an{ text-align:center}/*xia bian an niu*/

.unfurl_bottom{width:761px; height:57px; background:url(../images/bone_space_bottom.gif) no-repeat;margin:0 auto 20px auto}
.unfurl_pic1{ width:500px;margin:20px auto}
.unfurl_pic2{ width:550px; height:50px; margin:0 auto}
.unfurl_liuyan{width:620px;margin:0 auto; border:1px solid #CCC;text-align:center}
.unfurl_table{width:580px; line-height:30px; margin:10px 20px; border-bottom:1px solid #CCC;text-align:left}
.unfurl_t1{width:300px;cursor:pointer; font-weight:bold; color:#000}
.unfurl_t4{color:#f3c}
.unfurl_t3 a{color:#FF33CC;text-decoration:none; cursor:pointer}
.unfurl_t2{text-align:left; background:#EFEFEF; display:none}