/* CSS Document */

/* 用户帐户，定单配送查询*/
.userAccount_left{ width:190px; height:500px; float:left; padding:0 5px; margin:30px 0 0 0}
.userAccount_left li a{background:url(../images/top_li.gif) no-repeat 20px -89px; line-height:24px;font-weight:bold;font-size:12px;color:#666;padding:0 0 0 30px}
.userAccount_count{ text-align:left;padding:0 40px}
.userAccount_bott{ margin:0 0}
.userAccount_right{ width:761px;margin:30px 0 0 210px;overflow:hidden}
.userAccount_text{ font-family:"宋体"; font-size:12px; color:#9c9c9c}
.userAccount_userName{font-size:12px; font-weight:bold;color:#000}
.userAccount_t1{ color:#666; line-height:50px; font-weight:bold;padding:0 120px 0 0}
.userAccount_t1 a{ text-decoration: underline; color:#f00}
.userAccount_t2{ color:#F00}
.userAccount_pic{ width:700px; height:70px; background:url(../images/title_s_01.gif) no-repeat; margin:0 0 20px 0}
.userAccount_prompt {margin:0 20px}
.userAccount_prompt li{background:url(../images/bullet06.gif) no-repeat 0 3px;padding:0 0 0 15px}
.userAccount_table{border-collapse:collapse; margin:20px 20px;line-height:30px;width:739px; vertical-align:middle; text-align:center}
.userAcc_t1 td{ border:1px solid  #DDD; background:#EFEFEF;font-weight:bold;color:#666}
.userAcc_t2 td{ border-bottom:1px solid #DDD}
.userAcc_t2 td a{color:#000; text-decoration:underline}

/*商品评论*/
.Reviews_pic{ width:700px; height:70px; background:url(../images/title_s_04.gif) no-repeat; margin:0 0 20px 0}
.Reviews_top{ width:700px; height:50px; background:url(../images/goodview_box_29.gif) no-repeat; margin:20px 0 0 20px}
.Reviews_content{width:700px; background:url(../images/goodview_box_bg6.gif) repeat-y; margin:0 0 0 20px;padding:20px 0}
.Reviews_table{border-collapse:collapse; margin:0 auto;line-height:30px;width:620px; vertical-align:middle; text-align:center}
.Reviews_bottom{width:700px; height:24px; background:url(../images/goodview_box_30.gif) no-repeat;margin:0 0 20px 20px}

/*暂存架*/
.temporary_pic{ width:700px; height:70px; background:url(../images/title_s_09.gif) no-repeat; margin:0 0 20px 0}
.temporary_table{border-collapse:collapse; margin:20px auto;line-height:30px;width:739px; vertical-align:middle; text-align:center}

/*注销会员*/
.logout_pic{width:700px; height:70px; background:url(../images/title_s_08.gif) no-repeat; margin:0 0 20px 0}
.logout_table{border-collapse:collapse; margin:20px auto;line-height:30px;width:739px;vertical-align:middle;text-align:left}
.logout_t1{ width:100px;border:1px solid #ddd;background:#efefef; font-family:"宋体"; color:#888; padding:0 10px}
.logout_t2{border:1px solid #ddd;background:none; color:#888;padding:0 10px}
.logout_input{border:1px solid #06f}

/*积分明细*/
.points_pic{width:700px; height:70px; background:url(../images/title_s_07.gif) no-repeat; margin:0 0 20px 0}
.points_table{border-collapse:collapse; margin:5px auto;line-height:30px;width:739px; vertical-align:middle; text-align:center}
.points_tabtop{ margin:20px 0 0 20px;}
.points_sub{ font-weight:bold; color:#06f; font-size:14px}

/*预付款明细*/
.Advances_pic{width:700px; height:70px; background:url(../images/title_s_06.gif) no-repeat; margin:0 0 20px 0}
.Advances_table{border-collapse:collapse; margin:5px auto;line-height:30px;width:739px; vertical-align:middle; text-align:center}

/*优惠券*/
.Coupon_pic{width:700px; height:70px; background:url(../images/title_s_001.gif) no-repeat; margin:0 0 20px 0}
.Coupon_table{border-collapse:collapse; margin:20px auto;line-height:30px;width:739px; vertical-align:middle; text-align:center}

/*留言答复*/
.reply_pic{width:700px; height:70px; background:url(../images/my_stitle_11.gif) no-repeat; margin:0 0 20px 0}
.reply_table{border-collapse:collapse; margin:20px auto;line-height:30px;width:739px; vertical-align:middle; text-align:center}
.reply_an{text-align:center; font-size:14px}
.reply_an a{ margin:0 10px; color:#666; text-align:center}
.reply_an a:hover{color:#F00}

/*收件箱*/
.inbox_pic{width:700px; height:70px; background:url(../images/title_s_14.gif) no-repeat; margin:0 0 20px 0}
.inbox_table{border-collapse:collapse; margin:20px auto;line-height:30px;width:739px; vertical-align:middle; text-align:center}

/*修改个人信息*/
.userModify_pic{ width:700px; height:70px; background:url(../images/title_s_05.gif) no-repeat; margin:0 0 20px 0}
.userModify_d1{width:720px; border:3px solid #e6e6e6; margin:20px 20px}
.userModify_table{border-collapse:collapse; margin:10px 10px;line-height:30px;width:700px; vertical-align:middle; text-align:left}
.userModify_t1{ width:110px;border-bottom:1px dotted #ddd;font-family:"宋体"; color:#888; padding:0 10px}
.userModify_t1 span{ color:#F00}
.userModify_t2{border-bottom:1px dotted #ddd;background:none; color:#888;padding:0 10px}
.userModify_input1{ width:100px;border:1px solid #b6b6b6; background:#fff; color:#000}
.userModify_input2{ border:none; background:none}
.userModify_input3{ border:1px solid #b6b6b6;background:none; color:#000}
.userModify_span{ margin:0 50px 0 0}

/*退换货申请*/
.return_pic{width:700px; height:70px; background:url(../images/title_th_04.gif) no-repeat; margin:0 0 20px 0}
.return_input4{ margin:10px 0}
.return_bottom{ width:700px; height:29px; margin:0 auto 50px; text-align:center}
.return_bottom a{ margin:0 40px; cursor:pointer}

/*1;1会员留言*/
.memberMessage_pic{width:300px; height:116px; background:url(../images/title_qna.gif) no-repeat; margin:0 auto}

/*购物车*/
.shoppingCart_pic{width:300px; height:116px; background:url(../images/title_cart.gif) no-repeat;margin:0 auto}
.shoppingCart_table{border-collapse:collapse;border:1px solid #d5d5d5; margin:0 auto 50px; vertical-align:middle; text-align:left; line-height:30px}
.s_t_t1{ background:#EEE; text-align:center; color:#F6c; font-weight:bold}
.s_t_t2{ background:#F5F5F5; text-align:center}
.T_pic{padding:10px; width:150px; height:150px}
.shoppingCart_table td{ border:1px solid  #D5D5D5;}
.shoppingCart_table1,.shoppingCart_table1 td{ margin:0 0 0 20px;border:none; line-height:24px}
.shoppingCart_td1{ width:300px}
.shoppingCart_td2{ width:200px}
.shoppingCart_td3{ width:40px; text-align:center;}
.shoppingCart_td4{ text-align:center;}
.an_jiange{ margin:0 0 10px 0}
.shoppingCart_an{ text-align:center; margin:0 0 50px 0}
.shoppingCart_an .jiange{ width:100px; height:30px; margin:0 5px}

/*其它商品页面*/
.other_pic{width:788px;margin:30px 0 0 180px;overflow:hidden}
.other_left{line-height:30px; font-family:"宋体";font-size:14px;color:#666;}
.other_link{ text-align:center; font-weight:bold}
.other_link a{ margin:0 20px; color:#666}
.other_left{ width:170px; height:500px; float:left; padding:0 5px; margin:30px 0 0 0}
.other_left li a{background:url(../images/top_li.gif) no-repeat 5px -89px; line-height:30px; font-family:"宋体";font-size:14px;color:#666;padding:0 0 0 20px}
.other_link2{ text-align:center; font-weight:bold; margin:20px auto 50px auto}
.other_link2 a{margin:0 10px; color:#000}
.other_link2 a:active{color:#f00;}